<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="page-header">
    <h1>FluksoChart</h1>
</div>
<div class="container-fluid">
    <div class="accordion-group">
        <div class="accordion-inner">
            Specify time interval to select TMPO data from
            <div class="row-fluid">
                <div class="span4">
                    <strong>From</strong>
                </div>
                <div class="span4">
                    <input class="form-control" id="fromDate" type="date" name="fromDate" placeholder="YYYY-MM-DD"/>
                </div>
                <div class="span4">
                    <input class="form-control" id="fromTime" type="time" name="fromTime" placeholder="HH:MM:SS"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <strong>To</strong>
                </div>
                <div class="span4">
                    <input class="form-control" id="toDate" type="date" name="toDate" placeholder="YYYY-MM-DD"/>
                </div>
                <div class="span4">
                    <input class="form-control" id="toTime" type="time" name="toTime" placeholder="HH:MM:SS"/>
                </div>
            </div>
            <div align="center">
                <button class="btn btn-success" id="submit">Submit</button>
                <button class="btn btn-danger" id="refresh">Refresh</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="accordion-group">
        <div class="accordion-inner" id="chartpanel">
            <div id="chart"></div>
            <div id="info"></div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-inner" id="choices"></div>
    </div>
</div>
<div align="center">
    <small>
        <p>FLM <a href="http://github.com/gebhardm/flmlocal">Chart Display</a> &copy; 2015</p>
    </small>
</div>
