<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<!-- use the Twitter bootstrap styles -->
<link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css">
<div class="page-header">
    <h1>FluksoChart</h1>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        Specify time interval to select TMPO data from
        <div class="row">
          <div class="col-xs-4">
            <strong>From</strong>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="fromDate" type="date" name="fromDate" placeholder="YYYY-MM-DD"/>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="fromTime" type="time" name="fromTime" placeholder="HH:MM:SS"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <strong>To</strong>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="toDate" type="date" name="toDate" placeholder="YYYY-MM-DD"/>
          </div>
          <div class="col-xs-4">
            <input class="form-control" id="toTime" type="time" name="toTime" placeholder="HH:MM:SS"/>
          </div>
        </div>
        <div align="center">
          <button class="btn btn-success" id="submit">Submit</button>
          <button class="btn btn-danger" id="refresh">Refresh</button>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body" id="chartpanel">
        <div id="chart"></div>
        <div id="info"></div>
      </div>
    </div>
    <div class="panel panel-default">
	<div class="panel-body" id="choices"></div>
    </div>
</div>
<div class="footer">
  <small>
     <p class="text-center">FLM <a href="http://github.com/gebhardm/flmlocal">Chart Display</a> &copy; 2015</p>
  </small>
</div>
