<!-- web socket communication -->
<script type="text/javascript" src="components/mqttws/mqttws31.min.js"></script>
<!-- gauge graphics -->
<script type="text/javascript" src="components/raphael/raphael.min.js"></script>
<script type="text/javascript" src="components/raphael/justgage.min.js"></script>

<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div id="wrap">
  <div class="container">
    <div class="page-header">
      <h1>FluksoGauges</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
	<div nq-repeat="g in gauges">{{g}}</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
	{{message}}
      </div>
    </div>
    <div class="footer">
      <small>
        <p class="text-center">FLM MQTT Gauge, using <a href="http://justgage.com">JustGage</a> under <a href="http://opensource.org/licenses/mit-license.php">MIT License</a></p>
      </small>
    </div>
  </div>
</div>
