<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<!-- use the Twitter bootstrap styles -->
<link href="styles/bootstrap.min.css" rel="stylesheet">
<div class="page-header">
    <h1>FluksoGraph</h1>
</div>
<div class="panel panel-default">
    <div class="panel-body" id="graphpanel">
        <div id="graph"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" id="choices"></div>
</div>
<div class="footer">
    <small>
        <p class="text-center">
        FLM <a href="http://github.com/gebhardm/flmlocal">Graph Display</a> &copy; 2014
        </p>
    </small>
</div>
