<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<!-- use the Twitter cootstrap styles -->
<link href="styles/bootstrap.min.css" rel="stylesheet">
<div class="page-header">
    <h1>FluksoPanel</h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped">
            <tr ng-repeat="row in sensors">
                <td width=30%>
                    <h4>{{row.name}}</h4>
                    <small>{{row.gaugetimestamp}}</small>
                </td>
                <td align=middle>
                    <span id="{{'sparkline'+row.id}}"></span>
                </td>
                <td width=30%>
                    <h4>{{row.gaugevalue}} {{row.gaugeunit}}</h4>
                    Total {{row.countervalue}} {{row.counterunit}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <small>
            <b>Latest MQTT message: </b>{{message}}
        </small>
    </div>
</div>
<div class="footer">
    <small>
        <p class="text-center">
        FLM <a href="http://github.com/gebhardm/flmlocal">Panel Display</a> &copy; 2014
        </p>
    </small>
</div>