<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="page-header">
    <h1>FluksoRealtime</h1>
</div>

<div class="container-fluid"  collapse="cfgCollapsed">
    <div class="accordion-group">
        <div class="accordion-inner" id="cfg">
            <div class="radio">
                <label><input type="radio" name="subscription" value="/device/+/flx/current/+" checked>Current</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="subscription" value="/device/+/flx/voltage/+">Voltage</label>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="accordion-group">
        <div class="accordion-inner">
            <canvas id="chart"></canvas>
        </div>
    </div>
</div>

<div align="center">
    <small>
        <p>FLM <a href="http://github.com/gebhardm/flmlocal">Realtime Display</a> &copy; 2016 -
        <a href ng-click="cfgCollapsed = !cfgCollapsed">Toggle Configuration</a>
    </small>
</div>
