<div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="page-header">
    <h1>FluksoRealtime</h1>
</div>

<div class="container-fluid">
    <div class="accordion-group">
        <div class="accordion-inner">
            <canvas id="chart"></canvas>
        </div>
    </div>
</div>

<div align="center">
    <small>
        <p>FLM <a href="http://github.com/gebhardm/flmlocal">Realtime Display</a> &copy; 2016
    </small>
</div>
